<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sobre Nosotros</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>'Sh4dowtech' es un Negocio que busca brindar soluciones tecnologicas en diferentes campos
          de la informatica para poder ayudar a todos aquellos que lo ocupen</p>
      </div>
      <div class="col-lg-4">
        <p>Ramses Solano, conocido como Sh4dow18, es el fundador de Sh4dowtech, el cual es un estudiante
          de Ingenieria en Sistemas de Informacion en la Universidad Nacional (UNA).</p>
      </div>
    </div>
  </div>
</section>
